<style>.list{font-size:40px;font-family:impact;text-align:center;cursor:pointer;}.list:hover{border:1px solid;}</style>
<body style='background-color:#00bfff;'>
<audio controls loop style="display:none;"><source src="hero.mp3" type="audio/mpeg"></audio>
</body>
<script type="text/javascript">
(function(){
  const LEFT = 37, UP = 38, RIGHT = 39, DOWN = 40;
  let canvas;
  let ctx;
  let bosPosX = 0;
  let bosPosY = 0;
  let HP = 2000;
  let BOSS = 2000;
  let size = 60;
  let posX = 130,posY = 250;
  let go = 'direita';
  let shootX = posX;
  let mvR = mvL = mv = 0;
  let speedGravidade = 2;
  let speedPulo = 3;
  let forcaDoPulo = size/3;
  let speed = 6;
  let collideIsTrue = false;
  let pause = false;
  let click = 0;
  let grav = true;
  let jump = false;
  let frame = 8;
  let btnAttack = false;
  let chao = new Image();
  let enemy = new Image();
  let attackIMG = new Image();
  let imgPress = new Image();
  imgPress.src = 'press.png';
  attackIMG.src = "SVcs2cU.png";
  chao.src = "chao.jpg";
  enemy.src = "enemy.png";
  let map = [
          [2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,1,1,1,0,0,0,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,0,0,0,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,2],
          [2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,2],
          [2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2],
      ];
  let start=()=>{
			document.querySelector('#elementMenu').remove();
			document.querySelector('body').insertAdjacentHTML('beforeend', '<canvas></canvas>');
			canvas = document.querySelector('canvas');
			ctx = canvas.getContext('2d');
      let objGravidade = ()=>{speedGravidade += 0.6;}
      let setCanvas = ()=>{
          let height = document.querySelector('body').offsetHeight;
          let width = document.querySelector('body').offsetWidth;
          canvas.height = height;
          canvas.width = width;
      };
      let scene=()=>{
          ctx.clearRect(0,0, canvas.width, canvas.width);
          ctx.save();
          ctx.translate(-posX + (canvas.width * 0.50), 0);
          for(let y =0; y<map.length;y++){
              for(let x=0; x< map[y].length; x++){
                  if(map[y][x]===1){ctx.drawImage(chao,x*size,y*size,size,size);}
                  if(map[y][x]===2){ctx.drawImage(chao,x*size,y*size,size,size);}
                  if(map[y][x]===3){ctx.drawImage(enemy,x*size,y*size,size,size);}
                  if(map[y][x]===5){ctx.drawImage(imgPress,x*size,y*size,size,size)}
              }
          }
          char(posX,posY);
          ctx.restore();
      };
      let char=(x,y)=>{
        collide(x,y);
        collideNoStop(x,y);
        damage(x,y, 30);
        shootFire(x,y,30);
        pula();
        gravity();
        charFrame();
        Boss(x,y);
        gameOver();
      };
      let gameOver=()=>{if(HP <= 0){document.write('');location.reload();}};
      let collide=(x,y)=>{
          let mywall = doWall(1);
          for(i=0; i< mywall.length;i++){
              let distX = (x + size/2) - (mywall[i].wallX+ size/2);
              let distY = (y + size/2) - (mywall[i].wallY + size/2);
              if(Math.abs(distX) < size && Math.abs(distY) < size){
                  let overY = size - Math.abs(distY);
                  let overX = size - Math.abs(distX);
                  if(overX > overY && mywall[i].size == 'wall'){collideIsTrue=true;speedGravidade=0;distY>0?posY=y+overY:posY=y-overY;click=0;}
									else if((overX<overY&&mywall[i].size=='wall')){collideIsTrue=true;speedGravidade=0;distX>0?posX=x+overX:posX=x-overX;click=0;}
              }collideIsTrue = false;
          }return true;
      };
      let collideNoStop = (x,y) =>{
          let mywall = doWall(2);
          for(i=0; i< mywall.length;i++){
              let distX=(x+size/2)-(mywall[i].wallX+size/2);
              let distY=(y+size/2)-(mywall[i].wallY+size/2);
              if(Math.abs(distX) < size && Math.abs(distY) < size){
                  let overY=size-Math.abs(distY);
                  let overX=size-Math.abs(distX);
                  if(overX > overY && mywall[i].size=='wall'){collideIsTrue=true;distY>0?posY=y+overY:posY=y-overY;}
									else if((overX < overY && mywall[i].size=='wall')){collideIsTrue=true;distX>0?posX=x+overX:posX=x-overX;}
              }collideIsTrue=false;
          }return true;
      };
      let renderShootFire=()=>{let highmax=new Image();let shootY=bosPosY;highmax.src='highmax.png';shootX-=5;
          ctx.drawImage(highmax,0,0,147,120,shootX,shootY,200,160);
					receiveEnemyAttack(shootX,shootY,100,bosPosX,bosPosY,false);
					if(shootX<posX-700){shootX=posX+400;}
				}
      let shootFire=(x,y,tam)=>{
          let sizeDMG = tam;
          let mywall = doWall(5);
          for(i=0; i< mywall.length;i++){
              let distX = (x + sizeDMG/2) - (mywall[i].wallX+ sizeDMG/2);
              let distY = (y + sizeDMG/2) - (mywall[i].wallY + sizeDMG/2);
              if(Math.abs(distX) < sizeDMG && Math.abs(distY) < sizeDMG){
                  let overY = sizeDMG - Math.abs(distY);
                  let overX = sizeDMG - Math.abs(distX);
                  if(overX > overY && mywall[i].size == 'wall'){renderShootFire();}
									else if(overX < overY && mywall[i].size == 'wall'){renderShootFire();}
              }collideIsTrue = false;
          }return true;
      };
      let damage =(x,y, tam)=>{
          let sizeDMG = tam;
          let mywall = doWall(3);
          for(i=0; i< mywall.length;i++){
              let distX = (x + sizeDMG/2)-(mywall[i].wallX+ sizeDMG/2);
              let distY = (y + sizeDMG/2)-(mywall[i].wallY + sizeDMG/2);
              if(Math.abs(distX)<sizeDMG && Math.abs(distY)<sizeDMG){
                  let overY=sizeDMG-Math.abs(distY);
                  let overX=sizeDMG-Math.abs(distX);
                  if(overX>overY && mywall[i].size == 'wall'){HPdamage(20);}
									else if(overX < overY && mywall[i].size == 'wall'){HPdamage(20);}
              }
              collideIsTrue = false;
          }return true;
      }
      window.addEventListener('keydown',(e)=>{
            let arr = {
                'ArrowUp' : ()=>{
                    if(speedGravidade<5 && jump==false && click<1){jump=true;click+=1;}
                    if(mv == 0){frame=1;mv=2;}
                    else if(mv == 1){frame=0;mv=2;}
                },
                'ArrowLeft' : ()=>{
                    if(collideIsTrue==false){mvR=0;mvL=1;}
                },
                'ArrowRight' : ()=>{
                    if(collideIsTrue == false){mvR = 1;mvL = 0;}
                },
                'Space' : ()=>{
                    if(mv==1){frame=0;mv=3;}
                    else if(mv==0){frame=1;mv=3;}
              	    btnAttack = true;
                }
            }
          if(arr[e.code]){return arr[e.code]();}
      });
      window.addEventListener('keyup', (e)=>{
          switch(e.keyCode){
              case LEFT:
                  mvL=0;
                  jump==true?frame=0:frame=8;
                  break;
              case RIGHT:
                  mvR=0;
                  jump==true?frame=1:frame=8;
                  break;
              case 13:
                pause===true?pause=false:pause=true;
                break;
          }
      });
      let gravity=()=>{
          if(mvL==1){jump==false && speedGravidade==0?frame+=1:0;posX-=speed;}
					else if(mvR==1){jump==false && speedGravidade==0?frame+=1:0;posX+=speed;}
          if(grav==true){objGravidade();posY+=speedGravidade}
          else{posY += 0;speedGravidade = 5}};
      let attack=()=>{
              ctx.drawImage(attackIMG, 0, 0,  386, 490, posX, posY-45, 160, 390);
              ctx.drawImage(attackIMG, 386, 0,  386, 490, posX-60, posY-45, 160, 390);
          attackCollide();
      }
      let attackCollide = ()=>{
          let mywall=doWall(3);
          let sizeAttack=140;
          receiveEnemyAttack(posX,posY,150,bosPosX,bosPosY, false);
          for(i=0; i<mywall.length;i++){
              let distX=(posX+sizeAttack/2)-(mywall[i].wallX+sizeAttack/2);
              let distY=(posY+size/2)-(mywall[i].wallY+size/2);
              if(Math.abs(distX)<sizeAttack && Math.abs(distY)<sizeAttack){
                  let overY=size-Math.abs(distY);
                  let overX=sizeAttack - Math.abs(distX);
                  if(overX>overY && mywall[i].size=='wall'){map[mywall[i].indY][mywall[i].indX]=0;}
									else if(overX<overY && mywall[i].size=='wall'){map[mywall[i].indY][mywall[i].indX] = 0;}
              }collideIsTrue = false;
          }return true;
      }
      let charFrame=()=>{
          let img=new Image();
          img.src="sheet.png";
          let imgX=img.width/9;
          let imgY=img.height/4;
          if(mvR==1 && jump==false){mv=0;}
          else if(mvL==1 && jump==false){mv = 1;}
          if(frame>8){frame=0;}
          ctx.drawImage(img,imgX*frame, imgY*mv, imgX, imgY, posX, posY, size, size);
          if(btnAttack==true){attack();btnAttack = false;}
      };
      let pula=()=>{
					let img=new Image();if(jump == true && speedPulo <= forcaDoPulo){speedPulo++;
          if(mvL==1){mv=2;frame=0;}else if(mvR==1){mv=2;frame=1;}posY-=speedPulo;grav=false;if(speedPulo>=forcaDoPulo||jump==false){speedPulo=2;jump=false;grav=true;}}
      };
      let loop=()=>{if(pause===false){scene();}else{ctx.font="70px;impact;";ctx.fillText('Pause',canvas.width *0.50, canvas.height*0.50);}requestAnimationFrame(loop,canvas);};
      setCanvas();requestAnimationFrame(loop, canvas);}
  function Boss(x,y){
      let bossFrame = {
          rightFire : {marginLeft:40,frame:400,sizeX:400,sizeY:300,width:200,height:200},
          leftFire:{marginLeft:40,frame:700,sizeX:400,sizeY:300,width:200,height:200},
          rightPosition:{marginLeft:0,frame:200,sizeX:200,sizeY:200,width:120,height:120},
          leftPosition:{marginLeft:0,frame:0,sizeX:200,sizeY:200,width:120,height:120}
      };
      let startBoss = ()=>{
          let bossOBJ = {};
          let img = new Image();
          img.src = 'boss.png';
          if(go=='direita'){bossOBJ=bossFrame.rightFire;bosPosX = bosPosX+7;if(bosPosX>(x+600)){go='baixo';};}
					else if(go=='esquerda'){bossOBJ=bossFrame.leftFire;bosPosX=bosPosX-7;if(bosPosX<(x-600)){go='cima';};}
					else if(go=='baixo'){bossOBJ=bossFrame.leftPosition;bosPosY=bosPosY+4;if(bosPosY>=y){go='esquerda';}}
					else if(go=='cima'){bossOBJ=bossFrame.rightPosition;bosPosY=bosPosY-4;if(bosPosY<=y){go='direita';}}
          let tamanho = ((bossOBJ.width + bossOBJ.height)/2);
          ctx.drawImage(img, bossOBJ.marginLeft, bossOBJ.frame, bossOBJ.sizeX, bossOBJ.sizeY, bosPosX, bosPosY, tamanho, tamanho);
          receiveEnemyAttack(x,y,100,bosPosX,bosPosY, true);};
      startBoss();}
  		let receiveEnemyAttack=(charX,charY,enemySize,enemyX,enemyY,isEnemyAttack)=>{
  				let sizeDMG=enemySize;
          let distX=(charX+sizeDMG/2)-(enemyX+sizeDMG/2);
          let distY=(charY+sizeDMG/2)-(enemyY+sizeDMG/2);
          if(Math.abs(distX)<sizeDMG && Math.abs(distY)<sizeDMG){
              let overY=sizeDMG-Math.abs(distY);
              let overX=sizeDMG-Math.abs(distX);
              if(overX>overY){isEnemyAttack==true?HPdamage(50):BOSSdamage(75);}
              else if(overX<overY){isEnemyAttack==true?HPdamage(50):BOSSdamage(75);}}
              if(BOSS <= 0){document.write('');location.reload();}
          return false;
			};
      let HPdamage=(p)=>{HP-=p;};
      let BOSSdamage=(p)=>{BOSS-=p;};
      let doWall=(n)=>{let wall=[];for(let y=0;y<map.length;y++){for(let x=0;x<map[y].length;x++){if(map[y][x]==n){wall.push({wallX:x*size,wallY:y*size,size:'wall',indX:x,indY:y});}}}return wall;};
	let setMenuStart=()=>{
		document.querySelector('body').insertAdjacentHTML('beforeend',
		"<div id='elementMenu' style='width:100%;height:100%;'>"+
			"<div style='font-size:70px;font-family:impact;color:#4000ff;text-align:center;'><b>THUNDER BOY HERO</div>"+
			"<div style='opacity:0.5;background-color:#00ff00;width:600px;margin:0 auto;padding:30px;'>"+
			"<div class='list' id='list'>Iniciar</div><div class='list'>Configurações</div>"+
			"</div>"+
        "</div>");
        document.querySelector('#list').addEventListener('click',()=>{start();document.querySelector('audio').play();});};
		setMenuStart();
}());
</script>
