<body>
    <canvas></canvas>
</body>
<script>
let socket = new WebSocket('ws://192.168.117.216:4000/ws');
let  anotherPlayers = {};

class Mapa{
    constructor(size){
        this.size = size;
    }
    getMapa = ()=>{
        let mapa = [
            [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
            [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
            [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
            [1,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1],
            [1,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1],
            [1,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,1],
            [1,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,1,0,0,0,1],
            [1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1],
            [1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1],
            [1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
            [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
            [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1],
            [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
            
        ];
        
        let obj = {
            size : this.size,
            map: mapa
        }
        return obj;
    }
    doWall=(n)=>{
        let wall=[];
        let mapaOBJ = this.getMapa();
        let map = mapaOBJ.map;
        for(let y=0;y<map.length;y++){
            for(let x=0;x<map[y].length;x++){
                if(map[y][x]===n){
                    wall.push({wallX: x*this.size , wallY: y*this.size, size: this.size});
                }
            }
        }
        return wall;
    };
    collide=(x, y, size, lastKeyX, lastKeyY)=>{
        let mywall = this.doWall(1);
        for(let i=0; i< mywall.length;i++){
            if(x + size >= mywall[i].wallX + mywall[i].size 
            && x - size <= mywall[i].wallX - mywall[i].size
            && y + size >= mywall[i].wallY + mywall[i].size
            && y - size <= mywall[i].wallY - mywall[i].size
            ){
                return {wX : x/size + lastKeyX, wY: y/size + lastKeyY}
            }  
        }return false;
    };
}
class Personagem{
    constructor(x, y, size){
        this.x = x;
        this.y = y;
        this.size = size;
    }
    getPersonagem(){
        let personagem = {
            x: this.x,
            y: this.y,
            size: this.size
        };
        return personagem;
    }
    setPersonagem(x, y, size){
        this.x = x;
        this.y = y;
        this.size = size;
    }
}

const LEFT = 37, UP = 38, RIGHT = 39, DOWN = 40;
let canvas = document.querySelector('canvas');
let ctx = canvas.getContext('2d');
let personagem = new Personagem(16, 16, 16);
let mapa = new Mapa(personagem.size);
let lastKeyX;
let lastKeyY;
let update = ()=>{
    ctx.save();
    ctx.translate(-personagem.getPersonagem().x * 8, -personagem.getPersonagem().y * 10);
    ctx.clearRect(0,0,canvas.width, canvas.height);
    preencherMapa();
    preencherPersonagem();
    onlinePLAYERS();
    ctx.restore();
};
let loop = ()=>{
    update();
    window.requestAnimationFrame(loop, canvas);
};
window.requestAnimationFrame(loop, canvas);
let preencherMapa = ()=>{
    let map = mapa.getMapa().map;
    let size = mapa.getMapa().size;
    for(let y = 0; y < map.length; y++){
        let eixoY = map[y];
        for(let x = 0; x < eixoY.length; x++){
            let eixoX = eixoY[x];
            if(eixoX == 0){
                ctx.fillStyle="blue";
                ctx.fillRect(x*size, y*size,size,size);
            }else{
                ctx.fillStyle="red";
                ctx.fillRect(x*size, y*size,size,size);
            }
        }
    }
};
let preencherPersonagem=()=>{
    let p = personagem.getPersonagem();
    ctx.fillStyle = "white";
    let collide = mapa.collide(p.x*p.size, p.y*p.size, p.size, lastKeyX, lastKeyY);
    if(collide){personagem.setPersonagem(collide.wX, collide.wY, p.size);}
    ctx.fillRect(p.x*p.size, p.y*p.size, p.size,p.size);

    ctx.fillStyle = "green";
    ctx.fillRect(
        anotherPlayers.x * p.size,
        anotherPlayers.y * p.size,
        p.size,
        p.size
    );
};
let onlinePLAYERS = ()=>{
    socket.onmessage = function(event) {
        let data = JSON.parse(event.data);
            anotherPlayers.x=data.x; 
            anotherPlayers.y=data.y;
    };
};
document.addEventListener('keydown', (e)=>{
    let p = personagem.getPersonagem();
    manda();
    switch(e.keyCode){
        case LEFT:
            lastKeyX = 2;
            lastKeyY = 0;
            personagem.setPersonagem(p.x - 1, p.y, p.size);
            break;
        case UP:
            lastKeyY = 2;
            lastKeyX = 0;
            personagem.setPersonagem(p.x, p.y-1, p.size);
            break;
        case RIGHT:
            lastKeyX = -2;
            lastKeyY = 0;
            personagem.setPersonagem(p.x + 1, p.y, p.size);
            break;
        case DOWN:
            lastKeyY = -2;
            lastKeyX = 0;
            personagem.setPersonagem(p.x, p.y + 1, p.size);
            break;
    }
});
let manda = ()=>{
    socket.send(JSON.stringify({x: personagem.x, y: personagem.y}));
}
socket.onclose = event => console.log(`Desconectado`);
</script>